@model IEnumerable<MyFirstMVCApplication.Models.Employee>

@{
    ViewData["Title"] = "Index Page";
}

<h4>Employee Register</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                <a asp-action="AddorEdit" class="btn btn-outline-success">Employee</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="AddorEdit" asp-route-id="@item.EmployeeID"><i i class="fa fa-plus-marker fa-lg"></i> Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID"class="text-danger ml-1" onclick="return confirm('Are you Sure to delete?')" >  Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
